<a href="https://colab.research.google.com/github/MATHKIMS/CODINGTEST_PRACTICE/blob/main/230406%5B%EB%B0%B1%EC%A4%80%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [문제]

(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다


.
![image.png]()



(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

[입력]
첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

In [1]:
A = int(input())

B = input()

 

for i in range(3, 0, -1) :

    print(A * int(B[i - 1]))

 

print(A * int(B))

472
385
2360
3776
1416
181720